<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">		
		<h1 th:text="${titulo}"></h1>		
	</div>
	
	<div class="container">
		
		<a class="btn btn-primary btn-sm" th:href="@{/views/clientes/create}"
			th:text="'Nuevo Cliente'" title="Crear Nuevo Registro">
		</a>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombres</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Correo</th>
					<th scope="col">Ciudad</th>
					<th scope="col">Editar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cl:${clientes}">
					<th scope="row" th:text="${cl.id}"></th>
					<td th:text="${cl.nombres}"></td>
					<td th:text="${cl.apellidos}"></td>
					<td th:text="${cl.telefono}"></td>
					<td th:text="${cl.email}"></td>
					<td th:text="${cl.ciudad.ciudad}"></td>	
					<td>
						<a class="btn btn-success btn-sm" th:href="@{/views/clientes/edit/} + ${cl.id}"
							th:text="'Editar'" title="Editar Registro">
						</a>
					</td>	
					<td>
						<a class="btn btn-danger btn-sm" th:href="@{/views/clientes/delete/} + ${cl.id}"
							th:text="'Eliminar'" title="Eliminar Registro"
							onclick="return confirm('Esta seguro de eliminar el registro?');">
						</a>
					</td>					
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>